{{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="icon-primitive-square"> Code fiche <small>(Dans Octave)</small></label>
            {{ form_widget(form.code, {'attr':{'class':'form-control input-xlg border-primary'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label class="icon-primitive-square"> trigramme de la marque</label>
            {{ form_widget(form.trigramme, {'attr':{'class':'form-control input-xlg border-primary'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="icon-primitive-square"> Model d'import commerce</label>
            {{ form_widget(form.miCommerce, {'attr':{'class':'form-control input-xlg border-primary'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label class="icon-primitive-square"> Model d'import media</label>
            {{ form_widget(form.miMedia, {'attr':{'class':'form-control input-xlg border-primary'}}) }}
        </div>
    </div>    
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="icon-primitive-square"> Remise ( <i class="icon-percent"></i> )</label>
            {{ form_widget(form.remise, {'attr':{'class':'form-control input-xlg border-primary'}}) }}
        </div>
         <div class="form-group col-md-6">
            <label class="icon-primitive-square"> Commentaire</label>
            {{ form_widget(form.commentaire, {'attr':{'class':'form-control border-primary','rows':'4','cols':'4'}}) }}
        </div>
    </div>
   
    <div class="form-group pull-right">
        <br>
        <button type="submit" class="btn btn-primary"><i class="icon-user-plus"></i> {{ btn_label|default('Ajouter le fournisseur') }}</button>
    </div>
{{ form_end(form) }}
