{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}
{% set currentPage = "Fournisseur" %}

{% block body %}
    {% embed "main_layout.html.twig" %}
        {% block header %}
            {% include 'shared/header.html.twig' %}
        {% endblock %}
        {% block sidebar %}
            {% include 'shared/sidebar.html.twig' %}
        {% endblock %}
        {% block footer %}
            {% include 'shared/footer.html.twig' %}
        {% endblock %}
        {% block content %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                              <h4 class="panel-title col-sm-8"> Tous les fournisseurs</h4>
                              <a href="{{ path('fournisseur_new') }}" class="col-sm-4 btn btn-sm btn-primary text-bold"><i class="icon-add"></i> Créer un nouveau fournisseur </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table classicDatatableNoBtn">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Code</th>
                                            <th>Model d'import</th>
                                            <th>Remise</th>
                                            <th>Date de création</th>
                                            <th>Commentaire</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fournisseur in fournisseurs %}
                                        <tr>
                                            <td><i class="icon-user"></i> </td>
                                            <td>{{ fournisseur.code }}</td>
                                            <td class="text-warning text-bold">{{ fournisseur.modelimport.name }}</td>
                                            <td>{{ fournisseur.remise }}</td>
                                            <td>{{ fournisseur.createdAt|date('d/m/Y') }}</td>
                                            <td>{{ fournisseur.commentaire }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-primary" href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}" title="Afficher" ><i class="icon-eye"></i> </a>
                                            </td>
                                            <td><a class="btn btn-xs btn-info" href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" title="Modifier" ><i class="icon-pencil5"></i> </a></td>
                                            <td>
                                                <form method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Voullez-vous vraiment supprimer ce fournisseur ?');">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
                                                    <button class="btn btn-xs btn-danger" title="Supprimer" ><i class="icon-cross3"></i> </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4 class="panel-title" >Détail du fournisseur</h4>
                        </div>
                        <div class="panel-body">
                            {% if display and selectedFr is defined %}
                                <h4 class="text-center text-success"><sup><i class="icon-quotes-left"></i> </sup> {{ selectedFr.code }} <sup><i class="icon-quotes-right"></i></sup> </h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered text-bold" style="font-size:1.2em">
                                        <tbody>
                                            <tr>
                                                <td>Code</td>
                                                <td class="text-primary" >{{selectedFr.code}}</td>
                                            </tr>
                                            <tr>
                                                <td>Libelle</td>
                                                <td class="text-primary" >{{selectedFr.libelle}}</td>
                                            </tr>
                                            <tr>
                                                <td>Remise</td>
                                                <td class="text-primary">{{ selectedFr.Remise is empty ? 0 : selectedFr.remise }} % </td>
                                            </tr>
                                            <tr>
                                                <td>Model inport</td>
                                                <td class="text-primary" >{{selectedFr.modelimport.name}} du {{selectedFr.modelimport.createdAt|date("d/m/Y")}}</td>
                                            </tr>
                                            <tr>
                                                <td>Markup 1 </td>
                                                <td class="text-primary" >{{selectedFr.markup1 is empty ? 1 : selectedFr.markup1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Markup 2</td>
                                                <td class="text-primary" >{{selectedFr.markup2 is empty ? 1 : selectedFr.markup2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Condition</td>
                                                <td class="text-primary" >
                                                    {% if selectedFr.critere == '100' %}Pas de condition spécifique{% endif %}
                                                    {% if selectedFr.critere == '1' %}Multiplier tous les prix par markup1{% endif %}
                                                    {% if selectedFr.critere == '2' %}Multiplier les prix < 4 euros par markup 1 et les autres par markup2{% endif %}
                                                    {% if selectedFr.critere is empty %}Pas de condition spécifique{% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Commentaire</td>
                                                <td class="text-primary" >{{selectedFr.commentaire is empty ? 'Aucun commentaire' : selectedFr.commentaire}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br><br>
                                <div class="text-center">
                                    <a href="{{ path('fournisseur_index') }}" class="btn border-danger text-danger btn-sm btn-flat"><i class="icon-cross3"></i> Fermer</a>
                                    <a href="{{ path('fournisseur_edit', {'id':selectedFr.id}) }}" class="btn border-info text-info btn-sm btn-flat"><i class="icon-pencil5"></i> Modifier</a>
                                </div>
                            {% else %}
                              <h5 class="text-danger"><i class="icon-stack-empty"></i> Aucun fournisseur sélectionné</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/datatables.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/extensions/buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/pages/datatables_extension_buttons_html5.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/extensions/col_reorder.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/tables/datatables/extensions/select.min.js') }}"></script>
{% endblock %}
